
html,body{
  font-family: '微软雅黑';
  font-size:.14rem;
}
html{
  width:100vw;
  overflow:hidden;
}
.flex{
  display:flex;
}
.spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spaceAround{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flexCenter{
  display:flex;
  justify-content: center;
  align-items: center;
}
.alignCenter{
  display:flex;
  align-items: center;
}
.onebtn{
  width:3.45rem;
  height:.4rem;
  background-color: #38adff;
  border-radius:.06rem;
  text-align: center;
  line-height: .4rem;
  color:white;
  display: inline-block;
}
.twobtn{
  width:1.56rem;
  height:.4rem;
  background-color: #38adff;
  border-radius:.06rem;
  text-align: center;
  line-height: .4rem;
  color:white;
  display: inline-block;
  margin-right:.05rem;
}
.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
a{
  text-decoration: none;
  color:#7e8c8d;
}
a:focus, a:hover{
  text-decoration: none;
  color:#7e8c8d;
}
