<template>
  <div class="common-modal" @click="close">
    <div class='loading' v-if="type==='loading'"><!--loading类型-->
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div v-else-if="type=='add'"><!--add类型-->
      <div class="show-message">
        <div class="justify-center">
          <span class="title">新建{{addMessage}}</span>
        </div>
        <div class="justify-center">
          <input class="newName" type="text" placeholder="请输入名称" v-model="newName"/>
        </div>
        <div class="justify-center">
          <span class="one-btn" @click="add">提交</span>
        </div>
        <div class="close-btn" @click="close"></div>
      </div>
    </div>
    <div class="modal-dialog" v-else><!--alert/confirm类型-->

      <div class="dialog-title" v-if="options.title">
        {{options.title}}
      </div>
      <div class="dialog-content" v-if="options.content">
        {{options.content}}
      </div>
      <div class="flexCenter" style="display:flex;">
        <span class='dialog-btn' @click="confirm">{{options.confirmWord}}</span>
        <span class='dialog-btn' v-if="type=='confirm'" @click="cancel">{{options.cancelWord}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    data(){
      return {
        newName: '',
      }
    },
    props: {
      type: {
        type: String,
        default: ''
      },
      options:{
      },
      addMessage:{

      }
    },
    create(){

    },
    methods:{
      confirm(){
        this.$emit('confirmCommonModal',{})
      },
      cancel(){
        this.$emit('cancelCommonModal',{})
      },
      close(){
        this.$emit('hideCommonModal', {})
      },
      add(){
        this.$emit('addCommonModal', {})
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .common-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(179, 188, 206, .5);
  }

  .loading{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin: 0 auto;
  }
  .loading span{
    display: inline-block;
    width: .15rem;
    height: .15rem;
    border-radius: 50%;
    background-color: #f0f2f5;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
  }
  @-webkit-keyframes load{
    0%{
      -webkit-transform: scale(1.2);
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(.3);
      opacity: 0.5;
    }
  }
  .loading span:nth-child(1){
    left: 2px;
    top: 50%;
    margin-top:-10px;
    -webkit-animation-delay:0.13s;
  }
  .loading span:nth-child(2){
    left: 10px;
    top: 14px;
    -webkit-animation-delay:0.26s;
  }
  .loading span:nth-child(3){
    left: 50%;
    top: 5px;
    margin-left: -10px;
    -webkit-animation-delay:0.39s;
  }
  .loading span:nth-child(4){
    top: 12px;
    right:20px;
    -webkit-animation-delay:0.52s;
  }
  .loading span:nth-child(5){
    right: 10px;
    top: 50%;
    margin-top:-10px;
    -webkit-animation-delay:0.65s;
  }
  .loading span:nth-child(6){
    right: 18px;
    bottom:20px;
    -webkit-animation-delay:0.78s;
  }
  .loading span:nth-child(7){
    bottom: 10px;
    left: 50%;
    margin-left: -10px;
    -webkit-animation-delay:0.91s;
  }
  .loading span:nth-child(8){
    bottom: 20px;
    left: 8px;
    -webkit-animation-delay:1.04s;
  }

  .modal-dialog{
    width:300px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px 20px;
  }
  .dialog-title{
    display: block;
    background-color: #f8f8f8;
    padding: 5px 0;
  }
  .dialog-content{
    white-space: normal;
    word-break: break-all;
    color:#22242b;
    font-size:15px;
    padding-top:10px;
    padding-bottom:10px;
    max-height:260px;
  }
  .dialog-btn{
    cursor: pointer;
    width: 118px;
    height:34px;
    line-height: 34px;
    font-size:15px;
    background: #38adff;
    color:white;
    margin:5px;
    border-radius:6px;
  }

  /*=============add=============*/
  .title{
    padding-top:30px;
    font-size:16px;
    color:#333;
  }
  .one-btn{
    margin-top:40px;
    width:92px;
  }
  .newName{
    width:340px;
    height:32px;
    border:1px solid #ddd;
    padding-left:10px;
    background-color: #fbfbfb;
    margin-top:40px;
    border-radius: 3px;
  }
  .close-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url("../assets/close.png");
    cursor: pointer;
    position:absolute;
    top:12px;
    right:12px;
  }
  .close-btn:hover{
    background-image: url("../assets/close_hover .png");
  }

  .show-message {
    width: 490px;
    height: 220px;
    background-color: white;
    position:relative;
  }
  /*.show-message>div{
    background-color: pink;
  }*/

  .messageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(179, 188, 206, .5);

  }
</style>
