<template>
  <div class="details">
    <template v-if="detail">
      <div class="detailsTop">
        <h2 class="detailsTopH">{{detail.name}}</h2>
        <p class="detailsTopP">{{detail.introduction}}</p>
        <div class="detailsTopIn">
          <ul class="detailsTopUl">
            <template v-for="(item1,index1) in detail.p1">
              <li v-if="item1.key&&item1.value">{{item1.key}}：{{item1.value.toString()}}</li>
            </template>
          </ul>
        </div>
      </div>
      <div class="greySpace">
        <div class="detailsCen borderTop20">
          <div class="detailsCenD1">
            <p><img src="../assets/img/pImg02.png" alt="">业务数据<span v-if="detail.p2.date">（{{detail.p2.date}}）</span></p>
          </div>
          <div class="detailsCenD2">
            <ul>
              <template v-for="(item2,index2) in detail.p2.content" v-if="detail.p2.content.length">
                <li v-if="item2.key&&item2.value">{{item2.key}}：{{item2.value.toString()}}</li>
              </template>
              <template v-if="!detail.p2.content.length">
                <li>无数据</li>
              </template>
            </ul>
          </div>
        </div>
      </div>
      <div class="borderTop20 detailsCen">
        <div class="detailsCenD1">
          <p><img src="../assets/img/pImg02.png" alt="">投后跟进</p>
        </div>
        <div class="detailsCenD3">
          <ul>
            <template v-for="(item3,index3) in detail.p3" v-if="detail.p3.length">
              <router-link :to="{path:'/summary',query:{id:item3.id}}" tag="li" v-if="item3.title&&item3.user&&item3.date">
                <span class="ellipsis">{{item3.title}}</span>
                <span class="ellipsis">{{item3.user.toString()}}</span>
                <span class="ellipsis">{{item3.date}}</span>
                <div class="triangle"></div>
              </router-link>
            </template>
            <template v-if="!detail.p3.length">
              <li>无数据</li>
            </template>

          </ul>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  export default{
    data(){
      return {
        id: null,
        detail: null
      }
    },
    created(){
      this.id = this.$route.query.id
      this.getDetail()
      dd.biz.navigation.setTitle({
        title : '项目详情',//控制标题文本，空字符串表示显示默认文本
        onSuccess : function(result) {
        },
        onFail : function(err) {}
      });
    },
    mounted(){
    },
    destroyed(){
    },
    methods: {
      getDetail(){
        this.$store.dispatch('getDetail', {id: this.id}).then((data) => {
          this.detail = data;
        }).catch((data) => {
          console.log('获取详情失败:', data);
        })
      }
    }
  }
</script>

<style>
  @import "../assets/css/details.css";
</style>
