<template>
  <div>
    <div class=" search-container">
      <!--<Search @setSearchContent="setSearchContent"/>-->
      <div class="searchContainer lightGreyBgc">
        <div>
          <!--<label></label>-->
          <input autocomplete="off" type="search" placeholder="输入项目名称" value="" @focus="focusSearch"/>
        </div>
      </div>
      <template>
        <div class="sort-btn" :class="{'highlight':is_sort_show}" @click="showSortChoice">筛选</div>
        <div class="sort-content" @click="showSortChoice" :class="[is_sort_show?'sort-content-show':'']">
          <div @click.stop="clickContent" class="sort-right-container" :class="[is_sort_show?'sort-right-show':'']">
            <div class="">
              <div class="sort-choices" data-type="category">
                <div class="sort-title">分类</div>
                <ul class="sort-type-ul">
                  <template v-for="(category_type,category_index) in category_choices">
                    <li :data-type="category_type.name" class="sort-type ellipsis" :class="{'light_type':category_type.status}"
                        @touchstart="chooseCategoryType(category_index)">
                      {{category_type.name}}
                    </li>
                    <!--<li v-if="category_type.name=='工程研发中心-Gale'"></li>-->
                  </template>
                </ul>
              </div>

              <div class="sort-choices" data-type="sort">
                <div class="sort-title">排序</div>
                <ul class="sort-type-ul">
                  <template v-for="(sort_type,sort_index) in sort_choices">
                    <li class="sort-type ellipsis" :class="{'light_type':sort_type.status}"
                        @touchstart="chooseSortType(sort_index)">
                      {{sort_type.key}}
                    </li>
                  </template>
                </ul>
              </div>
            </div>
            <div class="sort-btns flex">
              <div class="btn flexCenter" @click="resetChoose">重置</div>
              <div class="btn flexCenter" @click="confirmChoose">确定</div>
            </div>

          </div>

        </div><!--v-show="is_sort_show"-->
      </template>
    </div>

    <div ref="wrapper" class="list-wrapper project-list">
      <ul class="list-content">
        <template v-for="(item,index) in listDatas">
          <li @click.stop="toDetail(item)" class="list-item">
            <div class="item-simple">
              <div class="project-name">
                {{item.name}}
              </div>
              <div class="simple-property flex">
                <span class="">{{item.p1[0].key}}：{{item.p1[0].value}}</span>
                <span class="">{{item.p1[1].key}}：{{item.p1[1].value.join('+')}}</span>
              </div>
              <div class="triangle" @click.stop="showDescribe(index,$event)"></div>
            </div>
            <div class="item-describe" key="index">


              <div class="describe-property">
                <template v-for="(item_p2,index_p2) in item.p2">
                  <span class="des-pro-single">{{item_p2.key}}：{{(item_p2.value&&item_p2.value.length)?item_p2.value.toString():'N/A'}}</span>
                </template>
              </div>
              <div class="">
                <p class="describe-word">
                  {{item.introduction}}
                </p>
              </div>


            </div>
          </li>
        </template>
        <li></li>
      </ul>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import BScroll from 'better-scroll'
  import Search from '../components/Search.vue'
  export default{
    components: {
      Search,
      BScroll
    },
    data(){
      return {
        is_sort_show: false,
        category_choices: null,
        chooseSpecialParam: {},
        sort_choices: [
          {
            key: '股比降序',
            value: 'proportion_desc',
            status: false
          },
          {
            key: '股比升序',
            value: 'proportion_asc',
            status: false
          },
          {
            key: '投资降序',
            value: 'investment_desc',
            status: false
          },
          {
            key: '投资升序',
            value: 'investment_asc',
            status: false
          }
        ],
        listDatas: null,
        defaultCategory: '',//显示分类排序菜单默认选中的分类项
        defaultSort: ''//显示分类排序菜单默认选中的排序项
      }
    },
    created(){
      document.activeElement.blur();
      dd.biz.navigation.setTitle({
        title: '已投项目清单',//控制标题文本，空字符串表示显示默认文本
        onSuccess: function (result) {
        },
        onFail: function (err) {
        }
      });
      this.$store.commit('changeCommonModalFlag', true)
      this.getCategories();
      this.getProjectList();
    },
    mounted(){
      window.timer = setTimeout(() => {
        this.scroll = new BScroll(this.$refs.wrapper, {
          click: true,
          scrollbar: {
            fade: true
          }
        })
        window.clearTimeout(timer)
      }, 20)
    },
    methods: {
      clickContent(){
        console.log('阻止事件冒泡');
      },
      //重新加载滚动条
      refreshScrollBar(){
        window.timer = setTimeout(() => {
          this.scroll.refresh()
          window.clearTimeout(timer)
          this.$store.commit('changeCommonModalFlag', false)
        }, 20)
      },
      //异步获取分类
      getCategories(){
        this.$store.dispatch('getCategories').then((data) => {
          this.category_choices = data;
        }).catch((data) => {
          console.log('获取分类失败:', data);
        })
      },
      //异步获取项目列表
      getProjectList(){
        this.$store.dispatch('getListDatas').then((data) => {
          this.listDatas = data;
          window.timer = setTimeout(() => {
            this.scroll.refresh()
            window.clearTimeout(timer)
            this.$store.commit('changeCommonModalFlag', false)
          }, 20)
        }).catch((data) => {
          console.log('获取列表失败:', data);
        })
      },
      //根据分类和排序获取列表
      sortProjectList(sort){
        this.$store.dispatch('sortListDatas', this.chooseSpecialParam).then((data) => {
          this.listDatas = data;
          this.refreshScrollBar();
        }).catch((data) => {
          console.log('获取排序列表失败:', data);
        })
      },
      //显示分类和排序菜单
      showSortChoice(){
        this.is_sort_show = !this.is_sort_show;
        console.log('this.defaultCategory===',this.defaultCategory);
        console.log('this.defaultSort===',this.defaultSort);
        let defaultCategory = this.defaultCategory,
          defaultSort = this.defaultSort;
        if (typeof defaultCategory === 'string' && typeof defaultSort === 'string') {
          this.resetParam();
        } else {
          this.category_choices.forEach((item, index, arr) => {
            item.status = false;
          })
          this.sort_choices.forEach((item, index, arr) => {
            item.status = false;
          })
          if (typeof defaultCategory === 'number') {
            this.category_choices[defaultCategory].status = true;
            this.chooseSpecialParam.category = this.category_choices[defaultCategory].id;
          }
          if (typeof defaultSort === 'number') {
            this.sort_choices[defaultSort].status = true;
            this.chooseSpecialParam.sort = this.sort_choices[defaultSort].value;
          }
        }
      },
      //根据分类参数和排序参数获取项目列表
      confirmChoose(){
        /*if (!this.chooseSpecialParam.category && !this.chooseSpecialParam.sort) {
          this.$store.commit('changeCommonModalFlag', true)
          this.$store.commit('changeCommonModalOption', {content: '您没有选中任何条件', type: 'alert'})
        } else {*/
          this.closeSortChoice();
          this.$store.commit('changeCommonModalOption', {type: 'loading'})
          this.$store.commit('changeCommonModalFlag', true)
          this.sortProjectList()
          this.defaultCategory = ''
          this.defaultSort = ''
          this.category_choices.forEach((item, index, arr) => {
            if (item.status) {
              this.defaultCategory = index;
            }
          });
          this.sort_choices.forEach((item, index, arr) => {
            if (item.status) {
              this.defaultSort = index;
            }
          })
//        }
      },
      //重置分类和排序菜单的状态
      resetParam(){
        this.category_choices.forEach((item, index, arr) => {
          item.status = false;
        })
        this.chooseSpecialParam.category = '';
        this.defaultCategory = '';
        this.sort_choices.forEach((item, index, arr) => {
          item.status = false;
        })
        this.chooseSpecialParam.sort = '';
        this.defaultSort = '';
      },
      //恢复项目列表的默认排序
      resetChoose(){
        this.resetParam();
        this.closeSortChoice();
        this.$store.commit('changeCommonModalOption', {type: 'loading'})
        this.$store.commit('changeCommonModalFlag', true)
        this.sortProjectList()
        this.defaultCategory = '';
        this.defaultSort = '';
      },
      //关闭菜单
      closeSortChoice(){
        this.is_sort_show = false;
      },
      //确定分类类型
      chooseCategoryType(category_index){
        let status = this.category_choices[category_index].status;
        let chooseId;
        this.category_choices.forEach((item, index, arr) => {
          item.status = false;
        })
        if (status) {
          this.category_choices[category_index].status = false;
          this.chooseSpecialParam.category = '';
        } else {
          this.category_choices[category_index].status = true;
          chooseId = this.category_choices[category_index].id;
          this.chooseSpecialParam.category = chooseId
        }
      },
      //确定排序类型
      chooseSortType(sort_index){
        let status = this.sort_choices[sort_index].status;
        let chooseValue;
        this.sort_choices.forEach((item, index, arr) => {
          item.status = false;
        })
        if (status) {
          this.sort_choices[sort_index].status = false;
          this.chooseSpecialParam.sort = '';
        } else {
          this.sort_choices[sort_index].status = true;
          chooseValue = this.sort_choices[sort_index].value;
          this.chooseSpecialParam.sort = chooseValue
        }
      },
      //隐藏列表的描述部分
      hideDescribe(){
        let $showDescribe = document.querySelector('.item-describe.show');
        if ($showDescribe) $showDescribe.className = 'item-describe';
        this.refreshScrollBar();
      },
      //显示列表的描述部分
      showDescribe(index, event){
        let target = event.currentTarget
        let $itemDescribe = document.querySelectorAll('.item-describe')
        if ($itemDescribe[index].className.indexOf('show') === -1) {
          let $showDescribe = document.querySelector('.item-describe.show');
          let $rotateTrianle = document.querySelector('.triangle.rotateTrianle');
          if ($showDescribe) {
            $showDescribe.className = 'item-describe';
            $rotateTrianle.className = 'triangle';
          }
          $itemDescribe[index].className = 'item-describe show';
          target.className = 'triangle rotateTrianle'
        } else {
          $itemDescribe[index].className = 'item-describe'
          target.className = 'triangle'
        }
        this.refreshScrollBar();
      },
      //跳进详情页
      toDetail(item){
        this.$router.push({
          path: '/detail',
          query: {id: item.id}
        })
      },
      //跳进搜索页
      focusSearch(){
        this.$router.push({
          path: '/searchList',
          query: {}
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .sort-btns {
    height: 1rem;
    /*background: pink;*/
    width: 4.8rem;
    position: fixed;
    bottom: 0;
  }

  .btn {
    width: 50%;
    height: 100%;
    font-size: .3rem;
    color: white;
  }

  .btn:nth-of-type(1) {
    color: rgb(20, 211, 146);
    box-shadow: 5px 0 20px rgb(240, 242, 245);
  }

  .btn:nth-of-type(2) {
    background: rgb(20, 211, 146);
    /*box-shadow: 5px 2px 20px rgb(20,211,146);*/
  }

  /*顶部排序样式*/
  .search-container {
    height: .9rem;
    padding-top: .2rem;
    background-color: #f0f2f5;
  }

  .sort-content {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    /*top: 1.1rem;*/
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s;
    opacity:0;
    z-index: 1;
    pointer-events: none;
  }

  .sort-content-show {
    pointer-events: auto;
    opacity:1;
  }
  .sort-right-container{
    transition: all .5s;
    transform: translate(100vw);
  }
  .sort-right-show{
    transform: translate(0);
  }

  .sort-right-container {
    width: 4.8rem;
    height: 100vh;
    float: right;
    background: white;
  }

  .sort-choices {
    width: 3.9rem;
    /*height: .13rem;*/
    /*background-color: white;*/
    padding: .8rem 0.5rem 0 .4rem;
    border-bottom: .01rem solid rgba(195, 202, 208, .35);
  }

  .sort-choices[data-type='sort'] {
    border-bottom: none;
  }
  /*.sort-choices[data-type='category'] .sort-type-ul > li[data-type='工程研发中心-Gale']{
    width:3.9rem;
  }*/

  .sort-type-ul {
    padding-top: .4rem;
    overflow: hidden; /*清除li标签浮动导致的高度塌陷*/
    padding-bottom: .3rem;
  }

  .sort-type-ul > li.sort-type:nth-of-type(2n+1) {
    margin-right: .3rem;
  }

  .sort-title {
    font-size: .3rem;
    color: rgb(51, 51, 51);
  }

  .sort-type {
    float: left;
    width: 1.8rem;
    background-color: rgb(240, 242, 245);
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .24rem;
    color: #767d8b;
    margin-bottom: .3rem;
    border-radius: .04rem;
  }

  .sort-type.light_type {
    color: white;
    background: rgb(20, 211, 146);
  }

  .project-list {
    /*padding-top:.55rem;*/
    height: calc(100vh - 1.1rem);
    overflow: hidden;
    background: rgb(240, 242, 245);
    padding: 0 .3rem 0 .3rem;
  }

  .sort-btn {
    font-size: .3rem;
    width: calc(100% - 6.3rem);
    height: .7rem;
    line-height: .7rem;
    color: rgb(51, 51, 51);
    background: rgb(240, 242, 245) url("../assets/img/pImg06.png") no-repeat 70% center;
    background-size: .3rem;
    float: left;
  }

  .highlight {
    color: rgb(20, 211, 146);
    background: rgb(240, 242, 245) url("../assets/img/pImg07.png") no-repeat 70% center;
    background-size: .3rem;
  }

  /*.sort-btn:after {
    content: '';
    width: .15rem;
    height: .15rem;
    margin-left: .05rem;
    background-repeat: no-repeat;
    !*background-color: pink;*!
    background-position: center;
    background-image: url('../assets/sort.png');
  }*/

  /*list-item样式*/
  .list-content {
    /*background: pink;;*/
  }

  .list-content > li {
    border-bottom: .01rem solid rgba(195, 202, 208, .35);
    margin-bottom: .2rem;
    background: white;
    border-radius: .06rem;
  }

  .item-simple {
    min-height: .8rem;
    padding: .3rem;
    /*padding: .15rem;*/
    /*border-bottom: .01rem solid rgba(118, 125, 139, .25);*/

    position: relative;
  }

  .triangle {
    width: .9rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /*background: pink;*/
    background-image: url('../assets/sort.png');
    background-size: .3rem;
    background-position: .3rem center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
  }

  .rotateTrianle {
    transition: all .3s ease-in-out;
    transform: rotate(-180deg);
  }

  .project-name {
    font-size: .32rem;
    color: rgb(51, 51, 51);
    /*background-color: aquamarine;*/
  }

  .simple-property {
    font-size: 0;
    color: rgb(51, 51, 51);
    margin-top: .3rem;
    /*background-color: orange;*/
  }

  .simple-property > span {
    font-size: .24rem;
    margin-right: .3rem;
  }

  .simple-property > span:nth-of-type(1):before {
    content: '';
    background-image: url('../assets/stocks.png');
    display: inline-block;
    width: .24rem;
    height: .24rem;
    background-size: cover;
    margin-right: .1rem;
    position: relative;
    top: .035rem;
  }

  .simple-property > span:nth-of-type(2):before {
    content: '';
    background-image: url('../assets/invest.png');
    display: inline-block;
    width: .24rem;
    height: .24rem;
    background-size: cover;
    margin-right: .1rem;
    position: relative;
    top: .035rem;
  }

  .item-describe {
    padding: .3rem;
    background-color: rgb(250, 251, 252);
    /*border-top: .01rem solid rgba(118, 125, 139, .25);*/
    transition: all 1s ease-in-out;
    overflow: hidden;
    display: none;
    /*height:0;*/
  }

  .describe-word, .describe-property {
    /*transform : scaleY(0.5);*/
    font-size: .24rem;
    color: rgb(118, 125, 139);
    line-height: .44rem;
    word-break: break-all;
    /*border-bottom:.01rem solid rgba(118,125,139,.5);*/
  }

  .describe-word {

    padding-top: .2rem; /*line-height导致.describe-property距离顶部有0.05rem，所以需要用标注0.15rem-0.05rem*/
    border-top: .01rem solid rgba(195, 202, 208, .35);
  }

  .describe-property {
    /*background-color: pink;*/
    margin-bottom: .2rem;
    margin-top: -.1rem; /*line-height导致距离顶部靠下了，消除.describe-word这种影响*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .des-pro-single {
    box-sizing: border-box;
    width: 50%;
    /*background-color: pink;*/
  }

  .item-describe {
    padding-bottom: .2rem;
  }

  .des-pro-single:nth-of-type(2n) {
    /*background-color: aquamarine;*/
  }

  .show {
    display: block;
    border-top: .01rem solid rgba(195, 202, 208, .35);
  }

  .border:after {
    /*content: '';
    display: block;
    border-bottom: .01rem solid rgba(118, 125, 139, .25);
    transform: scaleY(0.5);*/
    /*margin-top:.1rem;line-height导致.describe-property距离底部有0.05rem，所以需要用标注0.15rem-0.05rem*/
  }

  .searchContainer {
    width: 5.8rem;
    height: .7rem;
    float: left;
    padding-left: .3rem;
    margin-right: .2rem;
  }

  .searchContainer > div {
    width: 100%;
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*padding-left:.2rem;*/
    /*padding-right:.2rem;*/
  }

  input[type='search'] {
    width: 5.21rem;
    height: .7rem;
    border-radius: 3px;
    border: none;
    padding-left: .59rem;
    font-size: .32rem;
    outline: none;
    /*line-height: normal;*/
    background: #fff url('../components/images/search.png') no-repeat .2rem center;
    background-size: .32rem;
  }

  label {
    /*display: inline-block;*/
    width: .2rem;
    height: .2rem;
    /*position:relative;*/
    /*top: 0.075rem;*/
    vertical-align: middle;
  }

  label:nth-of-type(1) {
    background-image: url('../components/images/search.png');
    background-size: cover;
    position: absolute;
    left: .25rem;
    top: 0.1rem;
  }

  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  ::-webkit-input-placeholder {
    color: #b3bcce;
  }

  label:nth-of-type(2) {
    background-image: url('../components/images/clear.png');
    background-size: cover;
    position: absolute;
    right: .25rem;
  }

</style>
