<template>
  <div>
    <div class=" search-container">
      <Search @setSearchContent="setSearchContent"/>
      <template>
        <div class="cancel-btn" @click="cancelSearch">取消</div>
      </template>
    </div>
    <div ref="wrapper2" class="list-wrapper project-list">
      <ul class="list-content">
        <template v-for="(item,index) in listDatas">
          <li @click.stop="toDetail(item)" class="list-item border">
            <div class="item-simple">
              <div class="project-name">
                {{item.name}}
              </div>
              <div class="simple-property flex">
                <span class="">{{item.p1[0].key}}：{{item.p1[0].value}}</span>
                <span class="">{{item.p1[1].key}}：{{item.p1[1].value.join('，')}}</span>
              </div>
              <div class="triangle" @click.stop="showDescribe(index,$event)"></div>
            </div>
            <div class="item-describe" key="index">
              <div class="border">
                <p class="describe-word">
                  {{item.introduction}}
                </p>
              </div>

              <div class="describe-property border">
                <template v-for="(item_p2,index_p2) in item.p2">
                  <span class="des-pro-single">{{item_p2.key}}：{{item_p2.value.toString()}}</span>
                </template>
              </div>
            </div>
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import BScroll from 'better-scroll'
  import Search from '../components/Search.vue'
  export default{
    components: {
      Search,
      BScroll
    },
    data(){
      return {
        is_sort_show: false,
        sort_choices: [
          {
            key: '默认排序',
            status: true
          },
          {
            key: '股比降序',
            status: false
          },
          {
            key: '股比升序',
            status: false
          },
          {
            key: '投资降序',
            status: false
          },
          {
            key: '投资升序',
            status: false
          }
        ],
        listDatas: null
      }
    },
    created(){
      dd.biz.navigation.setTitle({
        title : '搜索',//控制标题文本，空字符串表示显示默认文本
        onSuccess : function(result) {
        },
        onFail : function(err) {
        }
      });
    },
    mounted(){
      setTimeout(() => {
        this.scroll2 = new BScroll(this.$refs.wrapper2, {
          click: true,
          scrollbar: {
            fade: true
          }
        })
      }, 20)
    },
    destroyed(){
      document.activeElement.blur();
    },
    methods: {
      toDetail(item){
        this.$router.push({
          path:'/detail',
          query:{id:item.id}
        })
      },
      refreshScrollBar(){
        window.timer = setTimeout(()=>{
          this.scroll2.refresh()
          window.clearTimeout(timer)
        },20)
      },
      showDescribe(index, event){
        let target = event.currentTarget
        let $itemDescribe = document.querySelectorAll('.item-describe')
        if ($itemDescribe[index].className.indexOf('show') === -1) {
          let $showDescribe = document.querySelector('.item-describe.show');
          let $rotateTrianle = document.querySelector('.triangle.rotateTrianle');
          if ($showDescribe) {
            $showDescribe.className = 'item-describe';
            $rotateTrianle.className = 'triangle';
          }
          $itemDescribe[index].className = 'item-describe show';
          target.className = 'triangle rotateTrianle'
        } else {
          $itemDescribe[index].className = 'item-describe'
          target.className = 'triangle'
        }
        this.refreshScrollBar();
      },
      hideDescribe(){
        let $showDescribe = document.querySelector('.item-describe.show');
        if ($showDescribe) $showDescribe.className = 'item-describe';
        this.refreshScrollBar();
      },
      setSearchContent(keyword){
        this.$store.dispatch('searchListDatas', {keyword}).then((data) => {
          this.listDatas = data;
          this.hideDescribe();
//          document.activeElement.blur();
        }).catch((data) => {
          console.log('获取列表失败:', data);
        })
      },
      toList(item){
        this.$router.push({
          path: '/list',
          query: {}
        })
      },
      cancelSearch(){
        this.toList();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .cancel-btn {
    font-size: .3rem;
    width: calc(100% - 6.3rem);
    height: .7rem;
    line-height: .7rem;
    color: rgb(51, 51, 51);
    float: left;
  }

  /*顶部排序样式*/
  .search-container {
    height: .9rem;
    padding-top: .2rem;
    background-color: #f0f2f5;
  }

  .sort-content {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 1.1rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .sort-choices {
    /*height: .13rem;*/
    background-color: white;
    padding: .4rem 0 .1rem;
  }

  .sort-choices li {
    width: 100%;
    /*background-color:pink;*/
    height: 1em;
    line-height: 1em;
    text-align: center;
    font-size: .28rem;
    color: rgb(118, 125, 139);
    margin-bottom: .3rem;
  }

  .sort-choices li:after {
    content: '';
    background-color: transparent;
    display: inline-block;
    width: .2rem;
    height: .13rem;
    margin-left: .1rem;
  }

  .sort-choices li.light_type {
    color: rgb(20, 211, 146);
  }

  .sort-choices li.light_type:after {
    content: '';
    display: inline-block;
    width: .2rem;
    height: .13rem;
    background-image: url("../assets/choose.png");
    background-position: center;
    background-size: cover;
    margin-left: .1rem;
  }

  .sort-choices li:nth-of-type(2n) {
    /*background-color: aquamarine;*/
  }

  .project-list {
    /*padding-top:.55rem;*/
    height: calc(100vh - .9rem);
    overflow: hidden;
  }

  .sort-btn {
    font-size: .3rem;
    width: calc(100% - 6.3rem);
    height: .7rem;
    line-height: .7rem;
    color: rgb(51, 51, 51);
    background: rgb(240, 242, 245) url("../assets/img/pImg06.png") no-repeat 66% center;
    background-size: .2rem;
    float: left;
  }

  .cancel-btn {
    font-size: .3rem;
    width: calc(100% - 6.3rem);
    height: .7rem;
    line-height: .7rem;
    color: rgb(51, 51, 51);
    float: left;
  }

  /*.sort-btn:after {
    content: '';
    width: .15rem;
    height: .15rem;
    margin-left: .05rem;
    background-repeat: no-repeat;
    !*background-color: pink;*!
    background-position: center;
    background-image: url('../assets/sort.png');
  }*/

  /*list-item样式*/
  .item-simple {
    min-height: .8rem;
    padding: .3rem;
    /*padding: .15rem;*/
    /*border-bottom: .01rem solid rgba(118, 125, 139, .25);*/
    position: relative;
  }

  .triangle {
    width: .9rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /*background: pink;*/
    background-image: url('../assets/sort.png');
    background-size: .3rem;
    background-position: .3rem center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
  }

  .rotateTrianle {
    transition: all .3s ease-in-out;
    transform: rotate(-180deg);
  }

  .project-name {
    font-size: .32rem;
    color: rgb(51, 51, 51);
    /*background-color: aquamarine;*/
  }

  .simple-property {
    font-size: 0;
    color: rgb(51, 51, 51);
    margin-top: .3rem;
    /*background-color: orange;*/
  }

  .simple-property > span {
    font-size: .24rem;
    margin-right: .3rem;
  }

  .simple-property > span:nth-of-type(1):before {
    content: '';
    background-image: url('../assets/stocks.png');
    display: inline-block;
    width: .24rem;
    height: .24rem;
    background-size: cover;
    margin-right: .1rem;
  }

  .simple-property > span:nth-of-type(2):before {
    content: '';
    background-image: url('../assets/invest.png');
    display: inline-block;
    width: .24rem;
    height: .24rem;
    background-size: cover;
    margin-right: .1rem;
  }

  .item-describe {
    padding: .3rem;
    background-color: rgb(250, 251, 252);
    border-top: .01rem solid rgba(118, 125, 139, .25);
    transition: all 1s ease-in-out;
    overflow: hidden;
    display: none;
    /*height:0;*/
  }

  .describe-word, .describe-property {
    /*transform : scaleY(0.5);*/
    font-size: .24rem;
    color: rgb(118, 125, 139);
    line-height: .44rem;
    /*border-bottom:.01rem solid rgba(118,125,139,.5);*/
  }

  .describe-word {
    margin-bottom: .2rem;
    margin-top: -.1rem; /*line-height导致距离顶部靠下了，消除.describe-word这种影响*/
  }

  .describe-property {
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: .2rem; /*line-height导致.describe-property距离顶部有0.05rem，所以需要用标注0.15rem-0.05rem*/
  }

  .des-pro-single {
    box-sizing: border-box;
    width: 50%;
    /*background-color: pink;*/
  }

  .item-describe {
    padding-bottom: .2rem;
  }

  .des-pro-single:nth-of-type(2n) {
    /*background-color: aquamarine;*/
  }

  .show {
    display: block;
  }

  .border:after {
    content: '';
    display: block;
    border-bottom: .01rem solid rgba(118, 125, 139, .5);
    transform: scaleY(0.5);
    /*margin-top:.1rem;line-height导致.describe-property距离底部有0.05rem，所以需要用标注0.15rem-0.05rem*/
  }


</style>
