<template>
  <div class="summary summaryBg">
    <template v-if="follow">
      <div class="summaryTop">
        <h2>{{follow.title}}</h2>
        <p><span>更新人：{{name}}</span><span>{{date}}</span></p>
      </div>
      <div class="summaryCen">
        <div class="summaryCenIn">
          <h2>经营业务进展</h2>
          <p v-html="follow.content"></p>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  export default{
    data(){
      return {
        id: null,
        follow: null
      }
    },
    created(){
      dd.biz.navigation.setTitle({
        title : '跟进纪要',//控制标题文本，空字符串表示显示默认文本
        onSuccess : function(result) {
        },
        onFail : function(err) {
        }
      });
      this.id = this.$route.query.id
      this.getFollow()
    },
    computed: {
      name: function () {
        return this.follow.name.join(',')
      },
      date: function () {
        return this.follow.date ? COMMON.formatDate(this.follow.date, 'yyyy.MM.dd') : ''
      }
    },
    mounted(){
      let title = document.querySelector('title');
      title.innerText = '跟进纪要'
    },
    destroyed(){
      let title = document.querySelector('title');
      title.innerText = '全部Portfolio'
    },
    methods: {
      getFollow(){
        this.$store.dispatch('getFollow', {id: this.id}).then((data) => {
          this.follow = data;
        }).catch((data) => {
          console.log('获取跟进详情失败:', data);
        })
      }
    }
  }
</script>

<style>
  @import "../assets/css/summary.css";
</style>
