/*项目详情*/
.details{
  width: 100%;
  position: relative;
}
.greySpace{
  background-color: rgba(195, 202, 208,.25);
  padding-top:.2rem;
  padding-bottom:.2rem;
}
.detailsTop{

}
.detailsTopH{
  font-size: .32rem;
  color: rgb(51, 51, 51);
  height: 1em;
  line-height: 1em;
  overflow: hidden;
  text-align: center;
  padding-top:.3rem;
  padding-bottom:.2rem;
}
.detailsTopP{
  font-size: .24rem;
  color: rgb(118, 125, 139);
  line-height: .44rem;
  margin-bottom: .3rem;
  padding: 0 .3rem;
  text-align: left;
  word-wrap: break-word;
}
.detailsTopIn{
  padding: .17rem .3rem;
  border-top:1px solid rgba(195, 202, 208,.35);
  text-align: left;
}
.detailsTopUl{
  overflow: hidden;
  width: 100%;

}
.detailsTopUl li{
  float: left;
  width: 50%;
  color: rgb(51, 51, 51);
  font-size: .26rem;
  line-height: .52rem;
  text-align: left;
}
.borderTop20{
  background-color: white;
}
.detailsCen{
  /*width: 100%;*/
}
.detailsCenD1{
  min-height: .9rem;
  padding: 0 .3rem;
  border-bottom: 1px solid rgba(195, 202, 208,.35);
  overflow: hidden;
}
.detailsCenD1 p img{
  width: .06rem;
  vertical-align: middle;
  position: relative;
  left: 0;
  top:-1px;
  /*float: left;*/
  margin-right: .12rem;
}
.detailsCenD1 p{
  font-size: .3rem;
  color:rgb(51,51,51);
  line-height: .9rem;
  height: .9rem;
  float: left;
  text-align: left;
}
.detailsCenD1 p span{
  font-size: .3rem;
  color: rgb(195, 202, 208);
  line-height: .9rem;
  height: .9rem;
  /*margin-left: 0.75rem;*/
}
.detailsCenD2{
  padding: 0 .3rem;
}
.detailsCenD2 ul{
  width: 100%;
  overflow: hidden;
  padding: .27rem 0;
}
.detailsCenD2 ul li{
  float: left;
  font-size: .26rem;
  line-height: 2em;
  width: 50%;
  height: 2em;
  overflow: hidden;
  text-align: left;
  color: rgb(118, 125, 139);
}
.detailsCenD3{
  padding: 0 .3rem;
}
.detailsCenD3 ul{
  width: 100%;
  overflow:hidden;
}
.detailsCenD3 ul li{
  border-bottom: 1px solid rgba(195, 202, 208,.35);
  height: 0.89rem;
  line-height: .89rem;
  font-size:.26rem;
  position:relative;
  color: rgb(118, 125, 139);
}
.detailsCenD3 ul li:nth-last-of-type(1){
  border:none;
}
.detailsCenD3 ul li span{
  float: left;
}
.detailsCenD3 ul li span:nth-child(1){
  width: 33%;
  text-align: left;
}
.detailsCenD3 ul li span:nth-child(2){
  width: 33%;
  text-align: center;
}
.detailsCenD3 ul li span:nth-child(3){
  width: 30%;
  text-align: right;
  padding-right: 3%;
  /*background: url("../img/pImg05.png") no-repeat center right;*/
  /*background-size: 0.6rem;*/
}
.triangle {
  width: .15rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: -.0025rem;
  /*background: pink;*/
  background-image: url('../to.png');
  background-size: .15rem;
  background-position: center;
  background-repeat: no-repeat;
}
