/************/
* { margin:0; padding:0;}
/*a:link, a:visited, a:hover, a:active {text-decoration:none; cursor:pointer; }*/
/*a:hover, a:active { color:#3385ff -o-transition:color .3s ease; -webkit-transition:color .3s ease; -moz-transition:color .3s ease; transition:color .3s ease; cursor:pointer;}*/
html {width: 100%;height: 100%; }
body {width: 100%;position: relative;height: 100%;background-color: #fff; font-family: "微软雅黑",arial; color:#666;font-size: 12px;}
img { border:0;vertical-align: center;}
textarea { resize: none; overflow:auto; padding: 20px;}
input:-moz-placeholder { color: #999; }
::-webkit-input-placeholder { color:#999; }
input[type="checkbox"] {vertical-align:-2px;}
ul,li, ol { list-style-type:none;}
table { border-collapse:collapse; border-spacing:0; }
a{text-decoration: none;font-style: normal;color: #666666;cursor: pointer}
input:focus{border: none!important;outline: none;}
/*textarea:focus{border: 1px solid #5dca9d;outline: none;}*/
em{font-style: normal;}
span,a,em{display: inline-block;}
/************/
