/*纪要*/
.summary{
  padding-bottom: .2rem;
}
.summaryTop{
  min-height: 1.2rem;
  padding-top: .3rem;
  background: #fff;
}
.summaryTop h2{
  margin-bottom: .3rem;
  height: .32rem;
  text-align: center;
  font-size: .32rem;
  color: rgb(51, 51, 51);
}
.summaryTop p{
  padding: 0 .4rem;
  height: .24rem;
  color: rgb(118, 125, 139);
  margin-bottom: .3rem;
  overflow: hidden;
}
.summaryTop p span{
  color: rgb(118, 125, 139);
  font-size: .24rem;
  line-height: 1em;
  float: left;
  width: 50%;
}
.summaryTop p span:nth-child(1){
  text-align: left;
}
.summaryTop p span:nth-child(2){
  text-align: right;
}
.summaryBg{
  background: rgb(250, 251, 252);
}
.summaryCen{
  padding: 0 .4rem;
}
.summaryCenIn{
  text-align: left;
}
.summaryCenIn h2{
  color: rgb(51, 51, 51);
  font-size: .28rem;
  line-height: .4rem;
}
.summaryCenIn p{
  color: rgb(118, 125, 139);
  font-size: .26rem;
  line-height: .5rem;
  margin: 0.05rem 0 .28rem;
}
