<template>
  <div class="searchContainer lightGreyBgc">
    <div>
      <!--<label></label>-->
      <input ref="input" type="search" placeholder="输入项目名称" value="" v-model="searchContent"
             @change="changeSearch" autofocus="autofocus"/>
      <label v-if="searchContent" @click="clearSearch"></label>
    </div>
  </div>
</template>

<script>
  export default{
    data(){
      return {
        searchContent: ''
      }
    },
    mounted() {
      this.$refs['input'].focus()
    },
    watch: {
      searchContent: function (val) {
        this.$emit('setSearchContent', val)
      }
    },
    methods: {
      changeSearch: function () {
        console.log('changeSearch');
        this.$emit('setSearchContent', this.searchContent)
      },
      clearSearch: function () {
        this.searchContent = ''
        this.$emit('setSearchContent', this.searchContent)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .searchContainer {
    width: 5.8rem;
    height: .7rem;
    float: left;
    padding-left: .3rem;
    margin-right: .2rem;
  }

  .searchContainer > div {
    width: 100%;
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*padding-left:.2rem;*/
    /*padding-right:.2rem;*/
  }

  input[type='search'] {
    width: 5.21rem;
    height: .7rem;
    border-radius: 3px;
    border: none;
    padding-left: .59rem;
    font-size: .32rem;
    outline: none;
    line-height: normal;
    background: #fff url('./images/search.png') no-repeat .2rem center;
    background-size: .32rem;
  }

  /*label:nth-of-type(1) {
    background-image: url('./images/search.png');
    background-size: cover;
    position: absolute;
    left: .25rem;
    top: 0.1rem;
  }*/
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  ::-webkit-input-placeholder {
    color: #b3bcce;
  }

  label:nth-of-type(1) {
    width: .32rem;
    height: .32rem;
    background-size: .32rem;
    background-image: url('./images/clear.png');
    position: absolute;
    right: .25rem;
    top: 0.225rem;
  }
</style>
