<template>
  <div id="app">
    <CommonModal :type="commonModalOption.type" v-if="commonModalFlag" @hideCommonModal="hideCommonModal"
                 :options="commonModalOption"/>
    <router-view v-if="is_logined"/>
  </div>
</template>

<script>
  import axios from 'axios'
  import CommonModal from './view/CommonModal.vue'
  export default{
    components: {
      CommonModal
    },
    data(){
      return {
        is_logined: false,
        commonModalOption: this.$store.state.commonModalOption
      }
    },
    computed: {
      commonModalFlag: function () {
        return this.$store.state.commonModalFlag
      }
    },
    beforeCreate(){
      if (this.$route.path != '/') {
        window.location.href = '/'
      }
    },
    created(){
      let that = this;
      this.$store.dispatch('login').then((data) => {
        console.log('登陆成功');
        that.is_logined = true;
        if (data.token) {
          let url = SERVER.api.getProjectList
          that.$store.dispatch('getListDatas')
        }
      }).catch((data) => {
        that.$store.commit('changeCommonModalFlag',true)
        that.$store.commit('changeCommonModalOption', {content: '认证失败',type:'alert'})
      })
    },
    mounted(){
    },
    methods: {
      showCommonModal(){
        this.$store.commit('changeCommonModalFlag', true)
      },
      hideCommonModal(){
        //隐藏模态窗口
        this.$store.commit('changeCommonModalFlag', false)
      }
    }
  }
</script>

<style>

</style>
